<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../static/css/main.css">

    <title>登录</title>
</head>

<body>
<center>
    <form action="/" method="post" accept-charset="UTF-8" ectype="application/x-www-form-urlencoded" autocomplete="off" novalidate>
    <section>
        <!-- 背景颜色 -->
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="box">
            <!-- 背景圆 -->
            <div class="circle" style="--x:0"></div>
            <div class="circle" style="--x:1"></div>
            <div class="circle" style="--x:2"></div>
            <div class="circle" style="--x:3"></div>
            <div class="circle" style="--x:4"></div>
            <!-- 登录框 -->
            <div class="container">
                <div class="form">
                    <h2>欢迎来到选择重发ARQ模拟平台！</h2>
                    <br>
                    <form>
                        <a style="font-size: small;color:#3888C7">请在下方输入您传输文件的绝对路径</a>
                        <div class="inputBox">
                            <input type="text" name="name" placeholder="文件路径">
                        </div>
                        <div class="inputBox">
                            <input type="submit" style="text-align: center" value="开始实验">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    </form>
    </center>
</body>

</html>